.footerContainer {
    background-color: var(--clr2);
    text-align: center;
}

.footerContainer p {
    color: var(--clr1);
    letter-spacing: 1px;
}

.footerInfo {
    padding: 4em 9em 6em 9em;
    display: flex;
    justify-content: space-between;
    color: var(--clr1);
    gap: 2.2em;
}

.row {
    line-height: 4em;
    font-size: 1em;
}

.items {
    margin-top: 15px;

}

.items>* {
    line-height: 3.6em;
    font-size: .8em;
}

.lastLine {
    display: flex;
    justify-content: space-between;
    padding: .3em 5em;
    color: rgb(211, 189, 218);
    font-size: .5em;
    letter-spacing: 1px;
    font-family: FUT;
}

.social-icon-link {
    color: var(--clr1);
    font-size: 1.5em;
}

.social-icons{
    margin-top: 1em;

}

.facebook , .instagram, .whatsapp{
    margin-right: 20px;
}


@media all and (max-width: 50em) {
    .footerInfo {
        padding: 2em;
        gap: 2em;
        flex-direction: column;
    }

    .row {
        line-height: 2em;
    }

    .lastLine {
        flex-direction: column;
        padding: 1em;
    }
}