.slideContent {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 22em;
    width: 100vw;
    background-color: var(--clr1);
    text-align: center;
}


.text {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 2em;
}

.text h5 {
    color: var(--clr2);

}

.userName {
    font-size: 1em;
    margin-top: 18px;
    font-style: italic;
    color: var(--clr2);
}

.userText {
    font-size: 1.5em;
    font-weight: 100;
    max-width: 34vw;
}

@media all and (max-width: 50em) {

    .userName {
        font-size: 1.3em;
    }

    .userText {
        font-size: 1.3em;
        max-width: 80vw;
    }

    .slideContent {

        height: 26em;

    }

}