@font-face {
  font-family: NHG;
  src: url(./fonts/NHaasGroteskTXPro-55Rg.ttf)
}

@font-face {
  font-family: AVN;
  src: url(./fonts/AvenirNextLTPro-Regular.otf)
}



:root {
  --clr1: rgb(227, 236, 245);
  --clr2: #2c3663;
  --clr3: rgb(189, 204, 223);
  --clr4: #76549A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}


ul {
  list-style: none;
  font-family: NHG;
}

h1, h2, h3, h4, h5 {
  color: var(--clr1);
  font-family: NHG;
}

h1 {
  font-size: 3.5em;
  font-weight: 100;
  line-height: 1;
}

h5 {
  font-family: NHG;
}


p {
  font-family: AVN;
  font-size: 1em;
  letter-spacing: .8px;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: var(--clr2);
  font-size: 15px;
  font-weight: bold;
  padding: 17px 51px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 20px;
}

button:hover {
  background-color: var(--clr3);
}

button:active {
  position: relative;
  top: 1px;
}